*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
background-color: #f8f8f8;
}

.dropdown-menu{
    border: 1px solid white!important;
}
h1 {
text-align: center;
font-size: 35px;
color: #333;
margin: 20px 0;
margin-top: 4rem;
}
p {
margin: 0 20px;
font-size: 20px;
line-height: 1.5;
}

.col-lg-7{
    margin-left: 300px;
}
